<div class="mt-5 px-sm-4">
    <div class="row">

        <!-- Search Field -->
        <div class="col-sm-8 col-6">
            <div class="input-group mb-3">
                <label for="search" class="input-group-text bg-transparent">
                    <img src="icons/search.svg" alt="search-icon" width="18"
                        height="18">
                </label>
                <input type="text" class="form-control border-start-0"
                    (keyup)="getResults($event)"
                    placeholder="Search by Item Name or Category"
                    aria-label="Search Field" aria-describedby="search-field">
            </div>
        </div>

        <!-- Category Filter -->
        <div class="col-sm-4 col-6">
            <div class="input-group mb-3">
                <label class="input-group-text bg-transparent"
                    for="category-filter">
                    <img src="icons/filter-icon.svg"
                        alt="filter-icon" width="25"
                        height="25">
                </label>
                <select class="form-select border-start-0" id="category-filter"
                    (change)="onSelectCategory($event)">
                    <option value="All Category" selected>All Category</option>
                    <option value="gujarati">Gujarati</option>
                    <option value="punjabi">Punjabi</option>
                    <option value="south-indian">South Indian</option>
                    <option value="mexican">Mexican</option>
                </select>
            </div>
        </div>

    </div>

    @if(filteredItems().length === 0) {

    <!-- Empty message -->
    <div
        class="mt-3 border border-2 rounded-4 itemsGrid d-flex flex-column justify-content-center align-items-center min-vh-60">
        <p class="fs-3 fw-bold color-dusty-olive m-0 text-nowrap">No Items
            Available!</p>
        <p class="fw-medium color-camel">Please add Item to Preview.</p>
    </div>
    } @else {

    <div class="mt-3 d-flex justify-content-end align-items-center gap-2">
        <p class="fs-2 m-0 fw-semibold text-end color-dusty-olive m-0">Available
            Items</p>
        <img src="icons/food-icon-1.svg" alt="food-icon" width="35" height="35">
    </div>

    <hr class="color-dusty-olive border-3 rounded-4 my-4">

    <!-- Available item cards -->
    <div class="row g-4 mt-2">
        @for (item of filteredItems(); track $index) {

        <div class="col-lg-6">
            <div
                class="card itemsCard h-100 rounded-4 shadow d-flex justify-content-center position-relative"
                [class.specialBorderColor]="item.isSpecial">
                <div class="row g-0">

                    <!-- Item image -->
                    <div
                        class="col-5 p-2 d-flex justify-content-center align-items-center">

                        <!-- Item image -->
                        <img [src]="item.imageUrl"
                            class="img-fluid rounded-4 itemImg"
                            alt="item-{{ $index }}">

                    </div>

                    <!-- Item details -->
                    <div class="col-7">
                        <div
                            class="card-body h-100 d-flex justify-content-between flex-column">
                            <div>
                                <div
                                    class="d-flex justify-content-between gap-2">
                                    <h5
                                        class="card-title fw-bold fs-3 color-dusty-olive">{{
                                        item.itemName }}</h5>

                                    <!-- Add Icon -->
                                    @if(!item.isAdded) {
                                    <img appTooltip title="Add To Menu"
                                        src="icons/add-icon.svg" alt="add-item"
                                        class="addIcon img-fluid cursor-pointer position-absolute top-0 end-0 mt-3 me-2"
                                        width="25" height="25"
                                        (click)="addToMenu(item)">
                                    }
                                </div>
                                <p
                                    class="card-text fw-medium fs-4 color-camel">{{
                                    item.category }}</p>
                            </div>
                            <div class="d-flex justify-content-start">
                                <p
                                    class="card-text fw-medium fs-4 color-coffee-bean">{{
                                    item.price | currency:'INR' }}</p>
                            </div>
                            <div data-bs-toggle="modal" appTooltip title="Edit"
                                data-bs-target="#formEditModal"
                                class="position-absolute editBtn end-0 bottom-0 mb-3 me-2 cursor-pointer"
                                (click)="onOpenEditModal(item)">
                                <img src="icons/edit-icon.svg" alt="edit-icon"
                                    width="23" height="23">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        }
    </div>

    }
</div>

<!-- Toast Container -->
<div
    class="toast-container position-fixed bottom-0 end-0 p-3">
    <div appToast
        class="toast align-items-center text-white bg-camel border-0"
        role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body fs-6">
                {{ toastMessage() }}
            </div>
            <button type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="formEditModal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    #formEditModal aria-labelledby="formEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-gradient bg-almond-cream rounded-4 px-2">
            <div class="modal-header border-0">
                <div
                    class="d-flex gap-3 justify-content-center align-items-center">
                    <p class="m-0 h3 modal-title text-muted fw-semibold"
                        id="formInputModalLabel">Edit Item</p>
                    <img src="icons/edit-icon.svg" alt="edit-icon" width="22"
                        height="22">
                </div>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form"
                    class="rounded-4"
                    (ngSubmit)="onSubmitNewDetails()">

                    <div class="mb-3">
                        <label for="itemName"
                            class="form-label fs-4 text-muted">Item
                            Name*</label>
                        <input type="text" class="form-control" id="itemName"
                            aria-describedby="itemName"
                            placeholder="Enter Item Name"
                            formControlName="itemName"
                            [class.is-invalid]="form.get('itemName')?.invalid && form.get('itemName')?.touched"
                            [class.valid]="form.get('itemName')?.valid">
                        <div class="invalid-feedback">
                            *Enter valid Item name!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="imageUrl"
                            class="form-label fs-4 text-muted">Image
                            URL*</label>
                        <input type="text" class="form-control" id="imageUrl"
                            formControlName="imageUrl"
                            [class.is-invalid]="form.get('imageUrl')?.invalid && form.get('imageUrl')?.touched"
                            [class.valid]="form.get('imageUrl')?.valid"
                            placeholder="Enter ImageURL">
                        @if (form.get('imageUrl')?.hasError('required')) {
                        <div class="invalid-feedback">
                            *Image URL is required!
                        </div>
                        }
                        @if (form.get('imageUrl')?.hasError('pattern')) {
                        <div class="invalid-feedback">
                            *URL must end with .jpg, .jpeg, .png, or .webp
                        </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="category"
                            class="form-label fs-4 text-muted">Category*</label>
                        <select class="form-select" aria-label="category"
                            formControlName="category"
                            [class.is-invalid]="form.get('category')?.invalid && form.get('category')?.touched"
                            [class.valid]="form.get('category')?.valid">
                            <option value selected>Select Category</option>
                            <option value="south-indian">South Indian</option>
                            <option value="gujarati">Gujarati</option>
                            <option value="punjabi">Punjabi</option>
                            <option value="mexican">Mexican</option>
                        </select>
                        <div class="invalid-feedback">
                            *Select at least one Category!
                        </div>
                    </div>

                    <div
                        class="d-flex align-items-center justify-content-between gap-md-3 flex-wrap">
                        <div class="col-lg-6">
                            <label for="price"
                                class="form-label fs-4 text-muted">Price*</label>
                            <div class="input-group"
                                [class.is-invalid]="form.get('price')?.invalid && form.get('price')?.touched"
                                [class.valid]="form.get('price')?.valid">
                                <span class="input-group-text bg-body"
                                    id="price">₹</span>
                                <input type="number" id="price"
                                    class="form-control border-start-0"
                                    placeholder="Enter Price"
                                    aria-label="Username"
                                    aria-describedby="price" min="0"
                                    formControlName="price"
                                    (keydown)="restaurantService.validateNumber($event)">
                            </div>
                            <div class="invalid-feedback">
                                *Enter valid Price!
                            </div>
                        </div>
                        <div class="my-4 form-check align-content-center">
                            <input type="checkbox" class="mt-2 form-check-input"
                                id="categoryEdit"
                                formControlName="isSpecial" width="30"
                                height="30">
                            <label class="form-check-label fs-5 text-muted"
                                for="categoryEdit">Special Item</label>
                        </div>
                    </div>

                    <div
                        class="d-flex justify-content-end align-items-center gap-2 mt-sm-3">
                        <button type="submit"
                            class="btn px-4 submitBtn text-white cursor-pointer bg-gradient border-0"
                            [disabled]="form.invalid"
                            data-bs-dismiss="modal">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>