<app-navigation />

<div class="container-fluid mt-7 mb-5 px-sm-4">
    <div class="row g-0 mt-5">
        <div class="mt-5">
            <div
                class="d-flex justify-content-center align-items-center gap-3 mb-5">
                <p class="h1 text-center m-0 fw-bold color-coffee-bean">Today's
                    Menu</p>
                <img src="icons/menu-board-icon.svg" alt="menu-icon" height="35"
                    width="35">
            </div>
            @if(menuItems().length === 0) {
            <!-- Empty Message -->
            <div
                class="border border-2 rounded-4 itemsGrid d-flex flex-column justify-content-center align-items-center min-vh-60">
                <p class="fs-3 fw-bold color-dusty-olive m-0 text-nowrap">No
                    Items Available!</p>
                <p class="fw-medium color-camel">Please add Item to Preview.</p>
            </div>

            } @else {

            <!-- Category wise Items -->
            @for (category of categories(); track category) {

            <h3 class="fw-semibold color-dusty-olive mt-5">{{
                category.toUpperCase() }}</h3>

            <hr class="color-dusty-olive border-3 rounded-4 my-4">

            <div class="row g-3">

                <!-- Items as per Category -->
                @for (item of getItemsByCategory(category); track item.itemName)
                {
                <div class="col-lg-3 col-sm-6">
                    <div
                        class="card h-100 rounded-4 shadow itemsCard position-relative"
                        [class.specialBorderColor]="item.isSpecial">
                        <div class="row g-0">
                            <div>
                                <img (click)="onRemoveConfirmation(item)"
                                    data-bs-toggle="modal"
                                    data-bs-target="#removeItemModal" appTooltip
                                    title="Remove Item"
                                    src="icons/remove-icon.svg"
                                    alt="remove-icon" width="20" height="20"
                                    class="removeIcon position-absolute m-2 top-0 end-0 cursor-pointer">
                            </div>
                            <div
                                class="col-5 p-2 d-flex justify-content-center align-items-center">
                                <img [src]="item.imageUrl"
                                    class="img-fluid rounded-4 itemImg"
                                    alt="item-{{ $index }}">
                            </div>
                            <div class="col-7">
                                <div
                                    class="card-body h-100 d-flex justify-content-between flex-column">
                                    <div>
                                        <div
                                            class="d-flex justify-content-between">
                                            <h5
                                                [appSpecialBgColor]="item.isSpecial"
                                                [class]="item.isSpecial ? 'p-1 rounded' : '' "
                                                class="card-title fw-bold fs-3 color-dusty-olive m-0">{{
                                                item.itemName }}</h5>
                                        </div>
                                        <p
                                            class="card-text fw-medium fs-5 color-camel">{{
                                            item.category }}</p>
                                    </div>
                                    <div
                                        class="d-flex justify-content-end mt-3">
                                        <p
                                            class="card-text fw-medium fs-4 color-coffee-bean">{{
                                            item.price | currency:'INR' }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                }
            </div>

            }
            }
        </div>
    </div>
</div>

<!-- Remove Item Modal -->
<div class="modal fade" id="removeItemModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div
                class="modal-header border-0 d-flex justify-content-center align-items-center">
                <p class="modal-title text-danger fs-4 fw-medium"
                    id="exampleModalLabel">Remove Confirmation !</p>
            </div>
            <div class="modal-body border-0">
                Are you sure you want to remove this item from Menu?
            </div>
            <div class="modal-footer border-0 mt-2" data-bs-dismiss="modal">
                <button type="button" class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger"
                    (click)="removeItem()">Remove</button>
            </div>
        </div>
    </div>
</div>

<!-- Toast Container -->
<div
    class="toast-container position-fixed bottom-0 end-0 p-3">
    <div appToast
        class="toast align-items-center text-white bg-dusty-olive border-0"
        role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Item removed from Menu!
            </div>
            <button type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>